fastapi[standard]==0.113.0
pydantic==2.8.0
starlette~=0.38.6
APScheduler~=3.11.0
meteostat~=1.6.8
pandas~=2.2.3
numpy~=1.26.4
optuna~=4.2.0
scikit-learn~=1.6.1
catboost~=1.2.7
requests~=2.32.3
matplotlib~=3.9.4
joblib~=1.4.2
scipy~=1.13.1
openpyxl~=3.1.5
seaborn~=0.13.2